.month-year-dropdown {
  padding: 2px;
  margin: 2px;
}

.custom-daypicker {
  border: 1px solid #cccccc;
  left: 33px;
  position: relative;
}

.DayPicker-wrapper {
  outline: none !important;
}

.custom-input {
  height: 35px;
  border: 0.5px solid lightgray;
  padding-left: 1%;
	position: relative;
}

.calendar-section {
	position: relative;
	display: inline;
	right: 25px;
	bottom: 3px;
	cursor: pointer;
}

.DayPicker-Day:focus {
  outline: 1px solid black;
}